:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}
body {
    background-color: bisque;
    font-family: Bai jamjuree;
}

#container {
    display: flex;
}

.catao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%-6rem);
}

.catao_conteudo {
    text-align: center;
    height: 100%;
}

.catao_conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
.catao_conteudo p {
margin-top:1rem;
padding: 2rem;
}
footer p {
    background-color: black;
    color: white;
    position: fixed;
    bottom:0 ;
    width: 100%;
    height: 2rem;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin: 0.5rem;
}
:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}
.catao_conteudo_pergunta p {
    color: var(--text-color);
    font-weight: 500;
}
.catao_conteudo_resposta p {
color: var(--card-back-color);
font-weight: 700;
}
.catao:hover.catao_conteudo {
    transform: rotateY (180);
}
.catao_conteudo_pergunta,
.catao_conteudo_resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}
.catao_conteudo_resposta {
    transform: rotateY(180deg);
}